<div class="row">
    <div class="col-sm-12">
      <app-card cardTitle="Change Password" [options]="false">
        <h5>Change Password</h5>
        <hr />
        <div class="row">
          <div class="col-md-6">
            <!-- Display success or error messages -->
            <div *ngIf="successMessage" class="alert alert-success" role="alert">
              {{ successMessage }}
            </div>
            <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
              {{ errorMessage }}
            </div>
  
            <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="newPassword">New Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="newPassword"
                  placeholder="Enter new password"
                  formControlName="newPassword"
                />
                <div style="margin-top: 8px; text-align: left;">
                  <span style="color: red; display: block;" *ngIf="newPassword?.errors?.['required'] && submitted">New password is required</span>
                  <span style="color: red; display: block;" *ngIf="newPassword?.errors?.['minlength'] && submitted">Password must be at least 6 characters</span>
                </div>
              </div>
  
              <div class="form-group">
                <label for="confirmNewPassword">Confirm New Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="confirmNewPassword"
                  placeholder="Confirm new password"
                  formControlName="confirmNewPassword"
                />
                <div style="margin-top: 8px; text-align: left;">
                  <span style="color: red; display: block;" *ngIf="confirmNewPassword?.errors?.['required'] && submitted">Please confirm your new password</span>
                  <span style="color: red; display: block;" *ngIf="changePasswordForm.errors?.['mismatch'] && submitted">Passwords do not match</span>
                </div>
              </div>
  
              <br>
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="changePasswordForm.invalid"
              >
                Change Password
              </button>
            </form>
          </div>
        </div>
      </app-card>
    </div>
  </div>